.sidebar{    
    position: fixed;
    bottom: 0px;
    left: 0px;
    top: 55px;
    width: 72px; 
    z-index: 200;   
    background-color: white;
    padding-top: 5px;
}
.sidebar-link{    
    height: 74px; 
    display: flex;   
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}
.sidebar-link:hover{        
    background-color: rgb(233, 233, 233);    
    cursor: pointer;
}
.sidebar-link img{
    width: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-size: 10px;    
}
@media (min-width: 1200px){
    .sidebar{                    
        width: 220px;        
    }
    .sidebar-link{    
        height: 50px;         
        flex-direction: row;
        justify-content: start;    
        align-items: center;        
    }
    .sidebar-link img{
        margin-right: 25px;
        margin-left: 24px;
    }    
    .sidebar-link div{
        font-size: 15px;    
    }
    body{
        padding-left: 235px;
    }
}