.searchbar{
    display: block;
    margin-bottom: 20px;
}

.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.thumbnail{
    width: 300px;
}